.cards__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:100px;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 240px;
}


.cards__item:nth-child(3n+3){
  margin-right: 0;
  margin-left:0;
}