/* @keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} */

/* .header__title {
  width: 730px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;  
  z-index: 2;
} */


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* .rotation{
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
} */

/* .logo {
  background-position: center;
  background-repeat: no-repeat;
  height: 35px;
  width: 183px;
} */

/* .logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
} */


/* .header__subtitle {
  width: 388px;
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  bottom: 0;
  left: 0;
  padding-left: 64px;
  padding-bottom: 30px;
  z-index: 2;  
} */

/* .header__link{
  text-decoration: none;
  color: #2f80ed;
} */

/* .header__main-illustration {
  width: 765px;
  height: 608px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
} */



/* .description{
  margin-top: 100px;
  margin-bottom: 100px;
  
} */

/* .two-columns{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;

} */

/* .two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
} */


/* .two-columns__main-text {
  width: 80%;
  min-width: 784px;

} */

/* .two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  padding-bottom: 20px;
} */

/* .two-columns__span-accent {
  font-weight: bold;
  margin-top: 20px;
} */

/* .digits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


/* .section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
} */

/* .section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
} */

/* .table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
} */
/* 
.table__cell{
  width: 250px;
  margin-top: 60px;
} */

/* .table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
} */

/* .table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
} */

/* .feynman {
background-color: #f2f2f2;
position: relative;
min-height: 790px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 100px;
padding-top: 100px;
background-image: url(../images/feynman.png);
background-repeat:no-repeat;
background-size: 867px 637px;
background-position:left bottom;
} */


/* .feynman__title{
  max-width: 648px;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0;
} */

/* .feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  margin-top: 70px;
} */

/* .feynman__link{
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  color: black;
} */


/* .kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
} */

/* .kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top:0;
  right: 0;
  bottom: 0;
  margin-right: -210px;
  width: 877px;
  height: 877px;
} */

/* .table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
} */

/* .table__heading_theme_dark{
  color: white;
} */

/* .table__text_theme_dark{
  color: white;
} */

/* .section-title_theme_dark {
  color: white;
  margin-top: 0;
  margin-bottom: 0;

} */

/* .section-subtitle_theme_dark {
  color: white;
  margin-top: 20px;
  margin-bottom: 0;
} */

/* .table_theme_dark{
  z-index: 1;
} */

/* .footer {
  box-sizing: border-box;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
} */

/* .footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
} */

/* .footer__column_content_copyright {
  flex-basis: 711px;
} */

/* .logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  z-index: 12;
  margin-top: 0;
  margin-left: 0;
} */

/* .footer__author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
} */

/* .footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .footer__column_content_info {
  justify-content: flex-start;
} */

/* .footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
} */

/* .footer__column-items{
  list-style-type: none;
} */

/* .footer__column-links {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
} */
/* .footer__column-link{
  text-decoration: none;
  color: white;
} */

/* .footer__column_content_social {
  justify-content: flex-start;
} */

/* .footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* div,h2,h4,p{
  border: 1px red solid;
} */
/* .cards__image{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 43px;
  margin-top: 60px;
} */

/* .techniques {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .cards{
  box-sizing: border-box;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
} */
/* .cards__title{
  margin:0;
} */

/* .cards__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:100px;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 240px;
} */

/* .cards__description{
  text-align: center; 
  padding-top: 16px;
  margin: 0;
} */
/* .cards__item:nth-child(3n+3){
  margin-right: 0;
  margin-left:0;
} */

/* .video{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .video__iframes{
  margin-top: 50px;
} */
/* .video__iframe{
  margin-right: 10px;
  margin-left: 10px;
} */

.oakley{
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;

}

.video__background{
  position: relative;
  background-color: #f2f2f2;
  width:100%;
  height:60px;
  top: 0;
  right:0;
  bottom: 0;
  z-index: -1;
}

/* .khan{
  padding-top: 105px;
  background-color: #f2f2f2;
} */
/* .khan__container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} */

/* .khan__author{
  margin: 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
} */
/* .khan__book-pic{
  width: 620px;
  height: 608px;
} */

/* .khan__title{
  margin:0;
  font-size: 60px;
  line-height: 1.15;
} */

/* .khan__quote{
  padding-top: 50px;
  padding-bottom: 36px;
  margin: 0;
  width: 790px;
  font-size: 24px;
  line-height: 34px;
} */
/* .khan__quote-author{
 margin: 0;
 font-size: 24px;
 line-height: 1.15;
 font-weight: bold;
} */
/* .khan__quote-author-subline{
  margin: 0;
  font-size: 24px;
 line-height: 1.15;
} */
/* .khan__book-container{
  display: flex;
  padding-top: 68px;
} */

/* .khan__buy-link{
  margin:0;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  padding-left: 48px;
} */

/* .resources__logo{
  width: 270px;
  height: 38px;
} */

/* .resources__logo-zone{
  padding-top: 80px;
  padding-bottom: 217px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
} */

/* .resources{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* img{
  outline: 1px red solid;
} */