.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  z-index: 1;
}

.title {
  width: 730px;
  margin-left: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.subtitle {
  width: 388px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  margin-left: 64px;
}

.link{
  text-decoration: none;
}

.main-illustration {
  width: 765px;
  height: 608px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.square-pic {
  margin-top: 64px;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 0;
  right: 0;

}


.two-columns {
  min-height: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.two-columns__brief {
  position: absolute;
  width: 175px;
  top: 0;
  left: 0;
  align-self: stretch;
}

.two-columns__brief_style {
  color: blue;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin-left: 20%;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  order: -1;
}

.two-columns__paragraph {
  margin-left: 20%;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  margin-left: 20%;
  min-width: 784px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  order: -1;
}

.digits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
}

  .section-title_style {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  }


.section-subtitle {
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  margin-top: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 0;
}

.feynman {
position: relative;
height: 790px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
flex-wrap: wrap;
}

.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.feynman__title{
  margin-top: 100px;
  width: 648px;
  z-index: 1;
  margin-bottom: 70px;
}

.feyman__title_style{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 48px;
}

.feynman__link_style{
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  color: black;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}
.section-title__style_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;

}

.section-subtitle__style_theme_dark {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.triangle {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top:0;
  right: 0;
  bottom: 0;
  margin-right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo__place_footer {
  margin-top: 0;
  margin-left: 0;
}

.footer__author {
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: flex-start;

}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-list {
  margin-bottom: 16px;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.footer__column-items{
  margin-bottom: 16px;
  list-style-type: none;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.footer__column-links{
  color: white;
  text-decoration: none;
}


.footer__column_content_social {
  justify-content: flex-start;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

